@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Geometria";
    src: url("../assets/fonts/Geometria-Regular.woff");
}

@font-face {
    font-family: "Geometria-Bold";
    src: url("../assets/fonts/Geometria-Bold.woff");
}

@font-face {
    font-family: "Geometria-Medium";
    src: url("../assets/fonts/Geometria-Medium.woff");
}


